@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
:root {
    /* Primary */
    --Very-Dark: Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* Accent */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* Neutral */

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

}

/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* 
### Headings, Call-to-actions, Header Navigation */

/* font-family: 'Roboto', sans-serif; */


body {
    font-family: 'Open Sans', sans-serif;

}